<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="CalendarDatabaseEntities" connectionString="metadata=res://*/CalendarDatabaseEntities.csdl|res://*/CalendarDatabaseEntities.ssdl|res://*/CalendarDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=X51RL-PC;Initial Catalog=NTR2017;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>